
<%= render "shared/navbar" %>
  <% if current_user.type == "Clinic" %>
    <div class="container d-flex justify-content-end align-items-end pr-0" style="top: 0;">
      <%= link_to "Edit my clinic profile", edit_clinic_path(@clinic), class: "btn button-to-edit-clinic" %>
      <%= link_to "✚ Add my vets", new_clinic_vet_path(@clinic), class: "btn button-to-edit-clinic-right" %>
    </div>
  <% end %>

<!-- <div class="container clinic-show-container"> -->

<div class="clinic-basic-info container d-flex align-items-center justify-content-around">
 <div class="infos col-6 container d-flex justify-content-center align-items-center">
    <div class="container container-clinic-name" style="1px solid black">
        <h4><%= @clinic.name %></h4>
        <h5 style="border-bottom: 1px solid lightgrey; padding-bottom: 5px"><%=@clinic.location %></h5>
        <p style="text-align: left; padding-bottom: 10px;"><%= @clinic.bio %></p>
    </div>
  </div>



<!-- carousel start -->
<div class="container-lg col-6 d-flex justify-content-around align-items-center">
  <div id="myCarousel" class="carousel slide d-flex justify-content-end carousel-vet" data-ride="carousel" style="">
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner carousel-inner-vet">
           <div class="carousel-item active">
             <% if @clinic.photo.attached? %>
                <%= cl_image_tag(@clinic.photo.key, crop: :fill, :class => "clinic_logo_show") %>
              <% else %>
                <%= image_tag "default-clinic-image.png", :class => "avatar clinic-initial"  %>
              <% end %>
            </div>

            <% @clinic.pictures.each do |picture| %>
              <div class="carousel-item">
                 <%= cl_image_tag(picture.key, crop: :fill, :class => "clinic_picture_show") %>
               </div>
            <% end %>
     <!-- Carousel indicators -->

            <ol class="carousel-indicators d-flex align-items-center">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
        </div>
      </div>
    </div>

</div>



<div class="space">
  <p></p>
  <p></p>
</div>

<div class ="bio-vets container">

    <div class="clinic-show-cards row container">
      <% @clinic.vets.each do |vet| %>
        <div class= "container clinic-show-vet">
          <div class= "d-flex align-items-start"style="text-align: center;">
          <% if vet.photo.attached? %>
            <%= cl_image_tag( vet.photo.key, :class => "cloudinary-vet-profile-picture" ) %>
          <% else %>
            <%= image_tag "default-profile-image.jpg", :class => 'avatar vet-profile-picture' %>
          <% end %>

          </div>
          <div class="container" style="padding: 10px">
            <h4 class="clinic-show-vet-name"><%= vet.first_name %> <%= vet.last_name %></h4>
            <p><strong>Speciality:</strong> <%= vet.speciality %></p>
            <div class="vet-bio-div">
              <p><strong>Bio: </strong><%= vet.bio %></p>
            </div>
            <div style="text-align: left">
              <% if current_user.type == "Clinic" %>
                <% if current_user == @clinic %>
                <%= link_to "Edit", edit_clinic_vet_path(@clinic, vet), class: "btn button-to-edit-vet" %>
                <%= link_to "Delete", clinic_vet_path(@clinic,vet), method: :delete, class: "btn button-to-edit-vet" %>
               <% end %>
              <% else %>
                <%= link_to "Book", new_clinic_booking_path(@clinic, {vet: vet}), class: "btn button-to-edit-vet" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>




