
<%= render "shared/navbar" %>
  <% if current_user.type == "Clinic" %>
    <div style="text-align: right; position: -webkit-sticky; position: sticky; top: 0;">
      <%= link_to "Edit clinic profile", edit_clinic_path(@clinic), class: "btn button-to-edit-clinic" %>
      <%= link_to "✚ Add a vet profile", new_clinic_vet_path(@clinic), class: "btn button-to-edit-clinic" %>
    </div>
  <% end %>



<div class="container clinic-show-container">


  <h1><strong><%= @clinic.name %></strong></h1>
  <h3><%= @clinic.location %></h3>
  <h2><strong>OUR VETS</strong></h2>



    <div class="clinic-show-cards">
      <% @clinic.vets.each do |vet| %>
        <div class= "clinic-show-vet">
          <div style="text-align: center;">

          <% if vet.photo.attached? %>
            <%= cl_image_tag( vet.photo.key, :class => "cloudinary-vet-profile-picture" ) %>

      <% else %>
            <!-- <img src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg" alt="photo" class="avatar vet-profile-picture"> -->
            <%= image_tag "default-profile-image.jpg", :class => 'avatar vet-profile-picture' %>

          <% end %>

          </div>
          <div style="padding: 10px">
            <h4 class="clinic-show-vet-name"><strong>Name:</strong> <%= vet.first_name %> <%= vet.last_name %></h4>
            <p><strong>Speciality:</strong> <%= vet.speciality %></p>
            <div class="vet-bio-div">
              <p><strong>Bio: </strong><%= vet.bio %></p>
            </div>
            <div style="text-align: left">
              <% if current_user.type == "Clinic" %>
                <%= link_to "Edit", edit_clinic_vet_path(@clinic, vet), class: "btn button-to-edit-vet" %>
              <% else %>
                <%= link_to "Book", new_clinic_booking_path(@clinic, {vet: vet}), class: "btn button-to-edit-vet" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>


  <!-- </div> -->

</div>

