<div class="sign-up container pt-4">

    <div class = "sign-up-align d-flex justify-content-center">
     <div class = "col-12 col-md-6 col-lg-4">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),data:{contoller:"example"})  do |f| %>
          <%= f.error_notification %>

            <h2>Sign up</h2>

            <div class="sign-up form-inputs">
              <div>
                <%= f.input :type, collection: %w[Clinic Owner], input_html: {data: {reflex: "change->ExampleReflex#change_signup"}} %>
              </div>
              <%if @type == "Clinic" %>
              <%= f.input :owner_name, required: true,autofocus: true, placeholder: "Please input your full name" %>
              <%= f.input :name,required: true, label: "Clinic name", placeholder: "Please input your clinic's name"%>

              <%= f.input :location, required: true, label: "Full address" %>
              <%= f.input :phone_number, required: true %>
              <%= f.input :email,
                            required: true,

                            input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="form-actions d-flex justify-content-between">
              <%= f.button :submit, "Sign up", :class => 'submit_class'  %>
              <%= link_to "Back", :back, class: "btn_back"%>
              <%= render "users/shared/links" %>
            </div>

          </div>
            <% elsif @type %>
              <%= f.input :name,required: true, autofocus: true, placeholder: "Please input your full name"%>

              <%= f.input :location, required: true %>
              <%= f.input :phone_number, required: true %>
              <%= f.input :email,
                          required: true,

                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="form-actions d-flex justify-content-between">
              <%= f.button :submit, "Sign up", :class => 'submit_class'  %>
              <%= link_to "Back", :back, class: "btn_back"%>
              <%= render "users/shared/links", locals: { myclass: 'btn_back' }  %>

          </div>

  <% end%>
<% end %>

  </div>

