
<%= render "shared/navbar" %>



<body>
  <h2 style="color: #FF7E67; font-weight: 400; text-align: center">Clinics within your area</h2>

    <div class="row users-dashboard" style="margin-top: 30px">

      <div class="col-7">
        <div class="container clinic-cards">
          <% @clinics.each do |clinic| %>
            <%= link_to clinic_path(clinic) do %>
            <div class="one-clinic-card">
              <div class="col-8 one-clinic-card-description">
                <p class="clinic-card-description"> <strong><%= clinic.name %></strong></p>
                <p class="clinic-card-description" style=" padding: 0 auto; border-top: 1px solid #ECF4F3; height: 72px"> <%= clinic.location %> </p>
                <p class="clinic-card-description">⭐️ ⭐️ ⭐️ ⭐️</p>
              </div>
              <div class="col-4 header one-clinic-logo">
                <img src="https://images.freeimg.net/rsynced_images/stethoscope-icon-2316460_1280.png" alt="Photo profile">
              </div>
            </div>
            <% end %>
          <% end %>

        </div>
      </div>


      <!-- SECOND column -->
      <div class="col-5 map-and-booking-info">

        <div class="container">

          <!-- MAP -->
          <div id="map"
            style="width: 100%; height: 300px; margin-top: 10px; margin-bottom: 20px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>


          <!-- APPOINTMENTS -->
          <h3 style="color: #FF7E67; font-weight: 200; text-align: center">My upcoming appointments</h3>

          <% @owner.pets.each do |pet| %>
            <% pet.bookings.each do |booking| %>

            <% if booking.accepted %>
              <div class="d-flex one-booking-col">
                <div class="one-booking-col-grey-bar" style="background-color: lightgray; width: 1%">
                </div>
                <div class="one-booking-a-col" style="margin-right: 10px; padding: 5px 0 10px 10px">
                  <p> <%= booking.date %></p>
                </div>
                <div class="flex-fill one-booking-b-col" style="  border-left: 1px solid lightgray; padding-left: 20px; padding-top: 5px">
                  <p>Time: <%= booking.time %></p>
                  <p>Clinic name: <%= booking.vet.user.name%></p>
                  <p>Clinic address: <%= booking.vet.user.location %></p>
                  <p>Veterinary booked: <%= booking.vet.first_name %> <%= booking.vet.last_name %></p>
                </div>


                <div class="dropdown one-booking-c-col">
                  <button class="btn dropdown-toggle one-booking-col-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</button>

                  <div class="dropdown-menu dropdown-menu-right booking-manage-action" aria-labelledby="dropdownMenuButton">
                    <%= link_to do %>
                      <span class="dropdown-item manage-booking-item"><p>Pet health profile</p></span>
                    <% end %>

                    <%= link_to do %>
                      <span class="dropdown-item manage-booking-item"><p>Change booking</p></span>
                    <% end %>

                    <%= link_to do %>
                      <span class="dropdown-item manage-booking-item"><p>Cancel booking</p></span>
                    <% end %>


                    <%#= link_to "Change booking", class: "dropdown-item manage-booking-item"%>
                    <%#= link_to "Cancel booking", class: "dropdown-item manage-booking-item"%>
                    <!-- <a class="dropdown-item c-col-item"></a> -->
                    <!-- <a class="dropdown-item c-col-item" href="#">Change booking</a> -->
                    <!-- <a class="dropdown-item c-col-item" href="#">Cancel booking</a> -->
                  </div>
                </div> </div>
            <% else %>
              <div style="background-color: rgba(254,126,104,0.2); padding-top: 5px">
                <p style="color: grey; padding-left: 10px;">Your booking with <%= booking.vet.user.name%> is pending confirmation.</p>
              </div>
            <% end %>




            <% end %>
          <% end %>

          <!-- REMINDERS -->

          <h3 style="margin-top: 20px; margin-bottom: 10px; color: #FF7E67; font-weight: 200; text-align: center">Reminders</h3>
          <div style="background-color: rgba(254,126,104,0.2); padding-top: 5px">
            <p style="color: grey; padding-left: 10px;">You currently have no reminders.</p>
          </div>

        </div>
        <!-- END of this container -->


     </div>
      <!-- END of this col-5 -->

  </div>
  <!-- END of row -->

<!-- </body> -->

