<div class="edit-background d-flex justify-content-center">
  <div class="edit-form form pt-3">
    <h4>Edit your personal details</h4>
        <div class="form-inputs-edit">

        <%= simple_form_for(@owner, :url => {:action => 'update', :id => @owner.id}) do |f| %>
          <%= f.input :name %>
          <%= f.input :phone_number, :hint => 'No special characters.' %>
          <%= f.input :email  %>
          <%= f.input :location%>
        </div>

        <div class="edit-buttons d-flex justify-content-around">
          <%= f.button :submit,'Submit',:class => 'edit_class' %>
          <%= link_to "Back",owner_path(current_user), class: "btn_back"  %>
        </div>
      <% end %>
  </div>
</div>
