<body>
<%= render "shared/navbar" %>
<div class="row">
  <div class="col-3" style="background-color:#ECF4F3;">
    <div class="container user-info" >
      <div id="avatar"></div> 
        <p>Name:</p>
        <p><%= @owner.name %></p>
        <p>location:</p>
        <p><%= @owner.location %></p>
        <p>Contact:</p>
        <p><%= @owner.phone_number %></p>
        <p>Email:</p>
        <p><%= @owner.email %></p>
        <div class="wrapper" style="text-align: center;">
          <%= link_to "+ Add Pet", new_owner_pet_path(@owner) %>
        </div>
      </div>
    </div>
 

  <div class="col-9">
    <div class="container pet-cards">
      <% 3.times do %>
        <div class="one-pet-card" style="border: 1px solid white; background-color: white;">
          <img src="https://ychef.files.bbci.co.uk/976x549/p085mt0d.jpg" id="avatar-square"> 
          <p class="pet-text">Name:</p>
          <p class="pet-text">Age:</p>
          <p class="pet-text">Breed:</p>
          <div class="wrapper" style="text-align: center;">
            <%= link_to "View full pet records",owner_pet_path(@owner), class: "btn button-view-record"  %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>


</body>