<p> A form for adding a new pet </p>

<%= simple_form_for [@owner,@pet] do |f| %>
<%= f.input :name %>
<%= f.input :species %>
<%= f.input :breed %>
<%= f.input :gender, collection: Pet.genders.keys %>

<%= f.input :notes %>
<%= f.submit "Submit", disable_with: 'Submiting...' %>

<% end %>
