
<div class = "petshow container">



    <div class="header row d-flex justify-content-center align-items-center mt-4">
      <h4><%= @pet.name.capitalize %>'s Health Record</h4>
    </div>

    <div class="container generalinfo pt-0">

      <div class="medicalrecord row d-flex align-items-center">
      <h4>ℹ️General info</h4>
    </div>

       <div class="row">
         <div class="col info-written">

            <div class="underline">
              <p><b>Animal breed:</b> <%= @pet.breed %> </p>
            </div>
            <div class="underline">
              <p><b>Animal gender:</b> <%= @pet.gender %></p>
            </div>
            <div class="underline">
              <p><b>DOB:</b> <%= @pet.dob %> </p>
            </div>
            <div class="underline">
              <p><b>Owner name:</b> <%= @pet.user.name %></p>
            </div>
            <div class="underline">
              <p><b><%=@pet.name%> behavior at clinic:</b> <%= @pet.notes %></p>
            </div>

         </div>

        <div class="col info d-flex justify-content-end align-items-center">
        
        <% if @pet.photo.attached? %>
          <%= cl_image_tag(@pet.photo.key,:class => "petavatar-round", crop: :fill) %>
          <% else %>
          <%= image_tag(('chihuahua.jpg'), :class =>"avatar-square") %>
        <% end %>
        
           
       </div>

      </div>

    </div>

<div class="diagnosis">
      <div class="medicalrecord row d-flex align-items-center">
        <h4>📄Vet reports</h4>
        <%= link_to "📝 Input more details", new_owner_pet_health_record_path(@owner,@pet), class: "input-diagnosis"%>
      </div>

       <div class= "container container-diagnosis d-flex align-items-start mb-1">

      <div class="header-a col-3 d-flex align-items-start">
        <p><strong>Date of visit</strong><br></p>
      </div>

      <div class= "col-3 header-a d-flex align-items-start " >
        <p><strong>Diagnosis</strong><br></p>
      </div>

      <div class="col-3 header-a d-flex align-items-start">
        <p><strong>Treatment</strong><br></p>
      </div>

       <div class="d-flex align-items-center last-box col-3" >
      </div>

      </div>


    <% @pet.health_records.each do |record| %>
    <% if record.type == "Diagnosis" %>
    <div class= "container container-diagnosis d-flex align-items-start mb-2">

      <div class="one-diagnosis-date col-3 d-flex align-items-start">
        <p><%= record.diagnosis_date %></p>
      </div>

      <div class= "col-3 one-diagnosis-b d-flex align-items-start " >
        <p><%= record.diagnosis %></p>
      </div>

      <div class="col-3 one-diagnosis-c d-flex align-items-start ">
        <p><%= record.treatment  %></p>
      </div>

       <div class="d-flex align-items-start last-box col-3 justify-content-end" >
        <%= link_to "🔍 Full report", owner_pet_health_record_path(@pet.user, @pet, record), class: "btn-record"%>
      </div>

      </div>
    <% end %>
  <% end %>
  </div>


<div class="vaccinations">
  <div class="vaccinations-header row d-flex align-items-center">
        <h4>💉Vaccinations</h4>
        <%= link_to "📝 Input more details", new_owner_pet_health_record_path(@owner,@pet), class: "input-diagnosis"%>
  </div>



  <div class= "container container-vaccinations d-flex align-items-start mb-2">
    <div class="one-vaccinations-header col-3 d-flex align-items-start">
      <p><strong>Vaccination date</strong></p>
    </div>

      <div class="col-4 one-vaccinations-header d-flex align-items-start ">
        <p><strong>Type of Vaccine</strong></p>
      </div>

      <div class="col-4 one-vaccinations-header d-flex align-items-start ">
        <p><strong>Next vaccination date</strong></p>
      </div>

       <div class="d-flex align-items-center last-box col-1">
  <%= link_to "View full records", '#', class: "btn-record"%> -->
      </div>

  </div>

<% @pet.health_records.each do |record| %>

<% if record.type == "Vaccination" %>

    <div class= "container container-vaccinations d-flex align-items-start mb-2">
      <div class="one-vaccination-a col-3 d-flex align-items-start">
        <p><%= record.vaccination_date  %></p>
      </div>

      <div class="col-4 one-vaccination-b d-flex align-items-start ">
        <p><%= record.vaccination_type  %></p>
      </div>

      <div class="col-4 one-vaccination-c d-flex align-items-start " >
        <p><%#=  %></p>
      </div>

       <div class="d-flex align-items-center last-box col-1">
   <%= link_to "View full records", owner_pet_health_record_path(@pet.user, @pet, record), class: "btn-record"%>
      </div>

      </div>

<% end %>
<% end %>
</div>

   <div class="d-flex profile-back justify-content-center align-items-end">
      <%= link_to "🔙Back to profile", owner_path(current_user), class: "btn_back"%>
    </div>
</div>


