
<div class = "petshow container">



    <div class="header row d-flex justify-content-center align-items-center mt-4">
      <h4><%= @pet.name.capitalize %>'s Health Record</h4>
    </div>

    <div class="container generalinfo pt-0">

      <div class="medicalrecord row d-flex align-items-center">
      <h4>ℹ️General info</h4>
    </div>

       <div class="row">
         <div class="col info-written">

            <div class="underline">
              <p><b>Animal breed:</b> <%= @pet.breed %> </p>
            </div>
            <div class="underline">
              <p><b>Animal gender:</b> <%= @pet.gender %></p>
            </div>
            <div class="underline">
              <p><b>DOB:</b> <%= @pet.dob %> </p>
            </div>
            <div class="underline">
              <p><b>Owner name:</b> <%= @pet.user.name %></p>
            </div>
            <div class="underline">
              <p><b>Fluffy behavior at clinic:</b></p>
            </div>

         </div>

        <div class="col info d-flex justify-content-end align-items-center">
          <%= image_tag "chihuahua.jpg", :class => 'avatar-doggy'%>
       </div>

      </div>

    </div>

<div class="diagnosis">
      <div class="medicalrecord row d-flex align-items-center">
        <h4>📄Vet reports</h4>
        <%= link_to "📝 Input more details", "#", class: "input-diagnosis"%>
      </div>

      <div class="d-flex one-diagnosis" style="margin-top: 10px;">


      <div class="one-diagnosis-grey-bar" style="background-color: lightgray; width: 1%">
      </div>
<% @pet.health_records.each do |record| %>
      <div class="one-diagnosis-a d-flex align-items-center col-2" style="margin-right: 10px; padding: 5px 0 10px 10px">
        <p>Date of visit<br> <%=record.diagnosis_date  %></p>
      </div>

      <div class="flex-fill one-diagnosis-b d-flex align-items-start col-4" style="  border-left: 1px solid lightgray; padding-left: 20px; padding-top: 5px">
        <p>Diagnosis: <%= record.diagnosis %></p>
      </div>

      <div class="flex-fill one-diagnosis-c d-flex align-items-start col-4" style=" border-left: 1px solid lightgray; padding: 0 20px; padding-top: 5px;">
        <p>Treatment:<%= record.treatment  %></p>
      </div>

       <div class="d-flex align-items-center last-box col-2" style=" padding: 0 20px; padding-top: 5px">
        <%= link_to "View full records", '#', class: "btn-record"%>
      </div>

<% end %>

   </div>

</div>

<div class="vaccinations">
  <div class="vaccinations-header row d-flex align-items-center">
        <h4>💉Vaccinations</h4>
        <%= link_to "📝 Input more details", "#", class: "input-diagnosis"%>
  </div>

<%= @pet.health_records.each do |record| %>
  <div class="d-flex one-vaccination" style="margin-top: 40px;">

      <div class="one-vaccination-grey-bar" style="background-color: lightgray; width: 1%">
      </div>

      <div class="one-vaccination-a d-flex align-items-center col-2" style="margin-right: 10px; padding: 5px 0 10px 10px">
        <p>Vaccination date<br> <%= record.vaccination_date  %></p>

      </div>

      <div class="flex-fill one-vaccination-b d-flex align-items-start col-4" style="  border-left: 1px solid lightgray; padding-left: 20px; padding-top: 5px">
        <p>Vaccine: <%= record.vaccination_type  %></p>
      </div>

      <div class="flex-fill one-vaccination-c d-flex align-items-start col-4" style="  border-left: 1px solid lightgray; padding: 0 20px; padding-top: 5px">
        <p>Next vaccination date: <%#=  %></p>
      </div>

      <div class="d-fill align-items-center last-box col-2" style=" padding: 0 20px; padding-top: 5px">
   <%= link_to "View full records", '#', class: "btn-record"%> 
      </div>
    
     <%end%> 

</div>

</div>


