
<div class="booking-background d-flex justify-content-center">
  <div class="booking-form-container">
<h4>Appointment booking</h4>

<div class = "booking-form d-flex ml-3 mr-2">
    <div class="form-inputs-booking d-flex">
<%= simple_form_for [@clinic, @booking] do |f| %>
<%= f.input :vet, collection: @clinic.vets %>
<%= f.input :reason_for_visit,
    collection: [
      "Skin conditions",
"Stomach issues",
"Ear infections",
"Eye conditions",
"Pain",
"Growths",
"Vaccination",
"Urinary tract infections",
"Allergies"]
     %>
<%=f.input :date %>
<%=f.input :time%>

<div class="booking-buttons d-flex justify-content-around mt-5">
   <!-- <button type="button" onclick="calculatePrice()">Calculate Price</button> -->
    <%= f.button :submit, "Book",:class => 'submit_class'%>
    <%= link_to "Back",owners_dash_path(@owner), class: "btn_back"  %>

  </div>
    <% end %>
    </div>
</div>
    </div>
</div>
