<p>form for crating new vet</p>

<%= simple_form_for [@clinic,@vet] do |f| %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :speciality %>
<%= f.input :bio %>
<%= f.submit "Submit", disable_with: 'Submiting...' %>
<% end %>