<div class="vet-new-background d-flex justify-content-center">
  <div class="vet-new-form-container">
    <h4>Add a vet to your clinic</h4>

        <div class="form-inputs-vet d-flex">

        <%= simple_form_for [@clinic,@vet] do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :speciality %>

          <%= f.input :bio, as: :text, input_html: { class: "vet-form-bar-width", maxlength: 200} %>
          <%= f.input :photo, as: :file, label: "Upload a photo" %>


          <div class="vet-new-buttons d-flex justify-content-around">
            <%= f.submit "Submit", disable_with: 'Submiting...', class: "submit_class" %>
            <%= link_to "Back", clinic_path(@clinic), class: "btn_back"  %>
          </div>
        <% end %>
      </div>
  </div>
</div>
