
<!-- banner -->
<div class= "banner d-md-flex justify-content-center" style="height: 100vh">

  <div class="container d-flex align-items-start">

    <div class="homepage container">
      <div class="row d-flex justify-content-center align-items-center">
       <h1>VetBook</h1>
     </div>

     <div class="row d-flex d-flex justify-content-center align-items-center text-center">
      <h5>Save your pet, cloud store the health records!</h5>
    </div>

    <div class="row d d-flex justify-content-center align-items-center">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn-veterinarian"  %>
      <%= link_to "Log In", new_user_session_path, class: "btn-petowner"  %>
    </div>

  </div>
</div>
</div>

<div class= "part2-homepage d-sm-flex justify-content-center" style="">
  <!-- <div class="container"> -->


    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="box mt-3 pt-2 pb-2 align-items-center">
        <h2>How <strong>VetBook</strong> benefits you</h2>
      </div>
    </div>

  <div class="col-lg-6   align-items-center justify-content-center d-flex">
    <div class="container-fluid dotted-div">

    <div class="card-product box-1">
      <!-- <div class="box2 col-3 mt-2 pt-2 d-flex align-items-center"> -->
        <div class="container">
          <div class= " d-flex justify-content-center">
             <%= image_tag('schedule.png', height: '45', width: '45') %>
          </div>

          <div class= "d-md-flex justify-content-center text-center">
            <h3>Appointments</h3>
          </div>

          <div class= "d-md-flex justify-content-center">
            <p>Easily make appointments with your nearest vet</p>
          </div>
        </div>
      </div>




    <div class="card-product box-1">
      <!-- <div class="box2 col-3 mt-2 pt-2 d-flex align-items-center"> -->
        <div class="container">
          <div class= " d-flex justify-content-center">
          </div>

          <div class= "d-md-flex justify-content-center text-center">
            <h3>Medical records</h3>
          </div>

          <div class= "d-md-flex justify-content-center">
            <p>Keep detailed track of your <br>pet's medical history</p>
          </div>
        </div>
      </div>

    <div class="card-product box-1">
       <div class="container">
        <div class= " d-flex justify-content-center">
          <%= image_tag('reminder.png', height: '45', width: '45') %>
        </div>

        <div class= "row d-md-flex justify-content-center text-center">
          <h3>Reminders</h3>
        </div>

        <div class= "row d-md-flex justify-content-center align-items-center">
         <p>Never forget an upcoming<br> vaccination </p>
       </div>
     </div>
   </div>

    <div class="card-product box-1">
       <div class="container">
        <div class= " d-flex justify-content-center">
          <%= image_tag('map.png', height: '45', width: '45') %>
        </div>

        <div class= "row d-md-flex justify-content-center text-center">
          <h3>View vets nearby</h3>
        </div>

        <div class= "row d-md-flex justify-content-center align-items-center">
         <p>Discover clinics within your area with their vet details</p>
       </div>
     </div>
   </div>



</div>
</div>
<!-- </div> -->

</div>




<div class ="container-customer flex-wrapper">

 <div class="customer-box col-12 mt-2 pt-4 pb-2" style="">
  <h2>What pet owners think</h2>
</div>

<div class="container-lg d-flex justify-content-center" style="">
  <div id="myCarousel" class="carousel slide d-flex justify-content-center" data-ride="carousel" style="">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner" style="">
      <div class="carousel-item active">
        <div class="row">
          <!-- one review starts -->
          <div class="col" style="height: 500px;">
           <div class="row d-flex justify-content-center align-items-center" style ="">
             <div>
              <%= image_tag "profile3.jpg", :class => 'avatar' %>
            </div>
          </div>
          <div class="review row d-flex justify-content-center tp-2 pl-2 pr-1 align-items-center" style ="">
            <h3>“ The only app <br>reminding me of vaccinations”</h3>
            <!-- <p>⭐️⭐️⭐️⭐️⭐️</p> -->
            <p>Alicia B.- pet owner</p>
          </div>
        </div>
        <!-- one review ends -->

        <!-- one review starts -->
        <div class="col" style="height: 500px;">
         <div class="row d-flex justify-content-center" style ="">
           <div>
            <%= image_tag "profile-1.jpg", :class => 'avatar' %>
          </div>
        </div>
        <div class="review row d-flex justify-content-center tp-2 pl-2 pr-1" style ="">
          <h3>“ Awesomeeeee <br> awesome and once more awesome!!”</h3>
          <!-- <p>⭐️⭐️⭐️⭐️⭐️</p> -->
          <p>Jessica S.- pet owner</p>
        </div>
      </div>
      <!-- one review ends -->
    </div>

  </div>


  <div class="carousel-item">
   <div class="row">

    <div class="col" style="height: 500px;">
     <div class="row d-flex justify-content-center" style ="">
       <div>
        <%= image_tag "profile2.jpg", :class => 'avatar' %>
      </div>
    </div>
    <div class="review row d-flex justify-content-center tp-2 pl-2 pr-1" style ="">
      <h3>“ Fabulous idea <br>to have handy app for pets”</h3>
      <!-- <p>⭐️⭐️⭐️⭐️⭐️</p> -->
      <p>Teresa B.- pet owner</p>
    </div>
  </div>

  <div class="col" style="height: 500px;">
   <div class="row d-flex justify-content-center" style ="">
     <div>
      <%= image_tag "profile4.jpg", :class => 'avatar' %>
    </div>
  </div>
  <div class="review row d-flex justify-content-center tp-2 pl-2 pr-1"style ="">
    <h3>“ Ive been volunteer <br> to test this app, and I love it!!”</h3>
    <!-- <p>⭐️⭐️⭐️⭐️⭐️</p> -->
    <p>Janice S.- pet owner</p>
  </div>
</div>

</div>
</div>
      <div class="carousel-item">
        <div class="row">

          <div class="col" style="height: 500px;">
           <div class="row d-flex justify-content-center" style ="">
             <div>
              <%= image_tag "profile5.jpg", :class => 'avatar' %>
            </div>
          </div>
          <div class="review row d-flex justify-content-center tp-2 pl-2 pr-1" style ="">
            <h3>“ Nice to have<br>app as reminder. May use now!”</h3>
            <!-- <p>⭐️⭐️⭐️⭐️⭐️</p> -->
            <p>Dereck S.- pet owner</p>
          </div>
        </div>

        <div class="col" style="height: 500px;">
          <div class="row d-flex justify-content-center" style ="">
           <div>
            <%= image_tag "profile6.jpg", :class => 'avatar' %>
            </div>
          </div>
          <div class="review row d-flex justify-content-center tp-2 pl-2 pr-1" style ="">
            <h3>“ Love it <br> coudlnt have better interface!!”</h3>
            <!-- <p>⭐️⭐️⭐️⭐️⭐️</p> -->
            <p>Jack N.- pet owner</p>
          </div>
        </div>
    </div>
  </div>
  </div>

</div>
<!-- Carousel controls -->
<!--   <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a> -->

</div>

<div>
<div class="row" style="background-color:white;">
  <div class="col-4 logos">
   <h4>Vetbook<br>partnered clinics</h4>
  </div>

  <div class="col-2 d-flex justify-content-center">
    <%= image_tag "clinic1.png", :class => 'avatar-logo' %>
  </div>

   <div class="col-2 d-flex justify-content-center">
    <%= image_tag "clinic2.png", :class => 'avatar-logo' %>
  </div>

   <div class="col-2 d-flex justify-content-center">
    <%= image_tag "clinic3.png", :class => 'avatar-logo' %>
  </div>

   <div class="col-2 d-flex justify-content-center">
    <%= image_tag "clinic4.png", :class => 'avatar-logo' %>
  </div>

</div>




    <div class="footer ">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This project is made with <i class="fas fa-heart"></i> of Remote Team
      </div>
    </div>

</div>
</div>
</div>

<!-- </div> -->


